.navbar-nav{
    float: right;
}
.searchbar{
    float: right;
    clear: right;
}


.jumbotron1{
    background-image: url("https://images.pexels.com/photos/2068411/pexels-photo-2068411.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    color: white;
}

.skillimg{
    height: 250px;
}


.fontLobster{
    font-family: 'Lobster Two', cursive;
}
.fontOpenSans{
    font-family: 'Open Sans', sans-serif;
}
.fresnoImg{

    position: relative;
    background-size: cover;
    height: 250px;
    width: 100%;
    top: 25px;
}
.cplus{

    color: #333;
    display: table-cell;
    height: 75px;
    /* transform: rotate(-45deg); */
    vertical-align: middle;
    width:75px;
    margin-right: 25px;

}
.html{
    height: 70px;
    width: 70px;
    color: #333;
    display: table-cell;
    /* transform: rotate(-45deg); */
    vertical-align: middle;
    margin-right: 30px;


}
.css{
    height: 70px;
    width: 70px;
    color: #333;
    display: table-cell;
    /* transform: rotate(-45deg); */
    vertical-align: middle;
    margin-right: 15px;



}
.python{
    height: 80px;
    width: 80px;
    color: #333;
    display: table-cell;
    /* transform: rotate(-45deg); */
    vertical-align: middle;
    margin-right: 25px;


}
.java{
    height: 55px;
    width: 55px;
    color: #333;
    display: table-cell;
    /* transform: rotate(-45deg); */
    vertical-align: middle;
    margin-left: 5px;


}

ul {
    list-style-type: none;
}


/* .diamond-shape {
    background:transparent;
    height: 75px;
    text-align: center;
    transform:rotate(45deg);
    width:75px;
    border-style: solid;

}*/
/* .diamond-shape2 {
    background:transparent;
    height: 95px;
    text-align: center;
    transform:rotate(45deg);
    width:95px;
    border-style: solid;

}*/

.jumbotron2{
    background: rgb(181,218,21);
    background: linear-gradient(180deg, rgba(181,218,21,1) 0%, rgba(7,188,210,1) 100%);
    width: 100%;
    height: 100%;
    margin-top: 30px;

}


footer{

    background-color: #de8200;
    background-image: linear-gradient(236deg, #de8200 11%, #b000ff 100%);

}

.social{
    position: relative;
    right: 15px;
}
.v1{
    border-left: 2px solid white;
    height: 20px;
}


body{
    padding-top: 50px;
}

.jumbotron3{
    background-image: url("https://images.pexels.com/photos/949587/pexels-photo-949587.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    color: white;
    height: 300px;
}

.jumbotron4{
    background-image: url("https://images.pexels.com/photos/747784/pexels-photo-747784.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
    color: white;
    height: 300px;
}


.contactform{
    background-image: url(https://images.pexels.com/photos/326576/pexels-photo-326576.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
    background-position: center;
    background-size: cover;
    position: relative;
}

.formsize{
    background-color:transparent;
    position: relative;

}


.jumbotron1, .jumbotron2, .jumbotron3, .jumbotron4{
    /* Create the parallax scrolling effect */
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media(min-width: 320px) and (max-width: 480px)
{
    .formsize{
        background-color: transparent;
        top: 5px;
        left: -115px;
        transform: scale(.3,.3) rotate(358deg);
      
    
    }
}

@media(min-width: 481px) and (max-width:991px)
{
    .formsize{
        background-color: transparent;
        top: 2px;
        left: -82px;
        transform: scale(.3,.3) rotate(358deg);
      
    
    }
}
@media(min-width: 992px)
{
    .formsize{
        background-color:transparent;
        top: 467px;
        left: 5px;
        right: 500px;
        transform: scale(.4,.4) rotate(358deg);
      
    
    }
}
@media(min-width: 1024px)
{
    .formsize{
        background-color: transparent;
        top: 3px;
        left: -61px;
        transform: scale(.4,.4) rotate(358deg);
      
    
    }
}
@media(min-width: 1440px)
{
    .formsize{
        background-color: transparent;
        top: 3px;
        left: -61px;
        transform: scale(.4,.4) rotate(358deg);
      
    
    }
}